/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  background-color: #476C9B;
  color: #2E4057;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #984447;
}

p {
  font-size: 1.2em;
}

h3 {
  font-size: 1.4em;
}
div {
  background-color: #ADD9F4;
}

.main-header .container {
  background-color: #984447;
}

.menu,
.name {
  margin: 0px;
}
.menu {
  padding-bottom: 15px;
}
.name {
  padding: 20px 0px;
}
.wrapper {
  margin-top: 50px;
}
img.student-picture {
  padding-top: 20px;
  max-width: 100%;
}

.menu a,
.footer-nav a {
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 10px 10px;
  color: black;
}

.name a {
  display: block;
  color: black;
}

.name a:hover,
.menu a:hover {
  color: black;
}

.portfolio-pic {
  width: 100%;
  margin-bottom: 20px;
}

.contact {
  padding: 15px 0px;
  background-color: #D7D9CE;
}
.contact h2 {
  text-transform: uppercase;
}

.footer-name,
.back {
  display: inline-block;
  padding: 10px;
}

.footer-nav {
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .menu {
    padding: 20px 15px;
  }

  .name {
    padding-left: 15px;
  }

  .name,
  .menu li {
    display: inline-block;
  }

  .about {
    text-align: left;
    padding-top: 0px;
  }

  .about p{
    margin-top: 0px;
    padding: 80px 10px 0px 20px;
  }

  .portfolio-block p {
    padding: 0px 5px 10px 5px;
    height: 90px;
  }

  img.student-picture {
    display: block;
    padding-right: 15px;
    float: right;
    width: 300px;
  }
  .back {
    display: none;
  }
  .portfolio-block {
    width: calc(51% - 15px);
    padding-left: 10px;
    float: left;
  }

  .footer-name {
    display: block;
    padding: 0 0 0 20px;
    float: left;
  }
  .footer-nav {
    display: block;
    float: right;
    margin-top: 15px;
  }

  .footer-nav li {
    float: left;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {
  .container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .menu {
    float: right;
    padding: 20px 15px;
  }

  .name {
    padding-left: 15px;
  }

  .name,
  .menu li {
    float: left;
  }

  .portfolio-block {
    width: calc(33% - 15px);
    float: left;
    padding-left: 10px;
  }

  .portfolio-block p {
    padding: 0px 5px 10px 5px;
    height: 90px;
  }
  .about {
    text-align: left;
    padding-top: 0px;
  }
  .about p{
    margin-top: 0px;
    padding: 80px 10px 0px 20px;
  }

  .student-picture {
    display: block;
    width: 300px;
    float: right;
    margin: 10px;
    padding: 10px;
  }

  .back {
    display: none;
  }
  .footer-name {
    display: block;
    padding: 0 0 0 20px;
    float: left;
  }
  .footer-nav {
    display: block;
    float: right;
    margin-top: 15px;
  }

  .footer-nav li {
    float: left;
  }
}
